/* font-family: 'Raleway', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0f94b6;
    --secondary-color: #041d11;
    --tertiary-color: #ff52b1;
    --more: #889c91;
}

body {
    color: var(--secondary-color);
}

header {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
      font-size: 20px;
      padding: 10px 15px;
  }

  .hero {
      background-image: url("../images/Salt-Flats.jpeg");
      background-size: cover;
      background-position: bottom;
      min-height: 90vh;
      text-align: center;
      margin: 100 100 100 100;
  }

  .hero h2 {
    padding-top: 20%;
    font-size: 60px;
  }

  .about {
      background-color: #889c91;    
      min-height: 90vh;
  }

  .about img {
      width: 70%;
      padding: 5% 5% 5% 5%;
  }

  .about-me {
    display: flex;
    flex-wrap: nowrap;
    background-color: none;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
  }
  .about-me h3, img{
      vertical-align: center;
  }
  .about-me > div {
    background-color: none;
    width: 1000px;
    margin: 3.5%;
    text-align: left;
    line-height: 75px;
    font-size: 30px;
  }

  .about, .showcase, .get-in-touch {
      font-size: 30px;
  }