/* font-family: 'Raleway', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #e726c7;
    --secondary-color: #0c4227;
    --tertiary-color: #91a7d6;
}

body {
    color: var(--secondary-color);
}

header a {
    color: (var(--primary-color));
    background-color: var(--tertiary-color);
}

